{% extends 'layout.html'%}

{% block body%}
<html>
    <head>
    </head>
    <body>
        <div class="container">
            <br>
            <center> <h1>Customer Churn DQLab</h1> </center>
            <br> 
        </div>
        <div class="row">
            <div class="col-sm-7">
                <img src="https://ecs7.tokopedia.net/img/attachment/2019/9/19/76834886/76834886_7f4d4690-4bc5-4197-931d-613cc5d1b498.png" height="300px" width="600px">
            </div>
            <div class="col-sm-5">
                <p align="justify">DQLab Telco merupakan perusahaan Telco yang sudah mempunyai banyak cabang tersebar dimana-mana. Sejak berdiri pada tahun 2019, DQLab Telco konsisten untuk memperhatikan customer experience nya sehingga tidak akan di tinggalkan pelanggan.

                    Walaupun baru berumur 1 tahun lebih sedikit, DQLab Telco sudah mempunyai banyak pelanggan yang beralih langganan ke kompetitior. Pihak management ingin mengurangi jumlah pelanggan yang beralih (churn) dengan menggunakan machine learning.  
                </p>
            </div>
        </div>
    </body>
</html>
{% endblock body %}